<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
      integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="../../static/styles/styles.css" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="../../static/assets/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="../../static/assets/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../../static/assets/favicon-16x16.png"
    />
    <link rel="manifest" href="../../static/assets/site.webmanifest" />
    <title>Delete Recipe</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-sm navbar-light bg-nav">
      <a class="navbar-brand" href="./index.html"
        ><img src="../static/assets/favicon-32x32.png" alt=""
      /></a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/food.html">Food</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/category.html">Category</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/user.html">User</a>
          </li>
        </ul>
      </div>
    </nav>

    <h1>Delete from here</h1>
    {% for recipe in recipes %}
    <div>
      <form action="/delete-recipe.html" method="post">
        <input type="text" name="name" value="{{recipe[1]}}" />
        <input type="text" name="description" value="{{recipe[2]}}" />
        <input type="text" name="img_url" value="{{recipe[3]}}" />
        <input type="text" name="difficulty" value="{{recipe[4]}}" />
        <input type="text" name="category" value="{{recipe[6]}}" />
        <input type="submit" value="Delete recipe" />
      </form>
    </div>
    {% endfor %}
    <h1>To here</h1>
    <h1 class="text-center">List of recipes</h1>
    <div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Image</th>
            <th scope="col">Difficulty</th>
            <th scope="col">Category</th>
          </tr>
        </thead>
        <tbody>
          {% for recipe in recipes %}
          <tr>
            <th scope="row">{{ recipe[1] }}</th>
            <td>{{ recipe[2] }}</td>
            <td>{{ recipe[3] }}</td>
            <td>{{ recipe[4] }}</td>
            <td>{{ recipe[6] }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <!--  {% for recipe in recipes %}
    <div>
      {{ 'name:'+ recipe[0]|string + ', description: ' + recipe[1]|string + '
      ,img_url: ' + recipe[2]|string + ', difficulty: ' + recipe[3]|string + ',
      foreign_key: ' + recipe[4]|string + ', cat_name: ' + recipe[5]|string }}
    </div>
    {% endfor %} -->
  </body>
  <script>
    /*    const name = document.getElementById('name')

      name.addEventListener('input', () => {
        console.log(name.value)
        const valueToArray = name.value.split(',')
        console.log(valueToArray)
        console.log(valueToArray[0])
      }) */
  </script>
</html>
