<!DOCTYPE html>
<html lang="en">
  <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link
        rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous"
      />
      <link rel="stylesheet" href="../../static/styles/styles.css" />
      <title>Add category</title>
    </head>
    <body>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/food.html">Food</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/category.html">Category</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/user.html">User</a>
            </li>
          </ul>
        </div>
      </nav>
      <form action="/add-category.html" method="post" class="d-flex">
        <input type="text" placeholder="Name" name="cat_name" />
        <input type="text" placeholder="Image location" name="img_url" />
        <span class="d-flex">
          <p>Featured:</p>
          <input
            type="radio"
            value="yes"
            name="featured"
            checked
            class="mx-2"
          />
          <input type="radio" value="no" name="featured" class="mr-2" />
        </span>

        <span class="d-flex">
          <p>Active:</p>
          <input type="radio" value="yes" name="active" checked class="mx-2" />
          <input type="radio" value="no" name="active" class="mr-2" />
        </span>
        <input type="submit" value="Submit" />
      </form>
      {% for category in categories %}
      <div>
        {{ category[0]|string + " : " + category[1] }}
      </div>
      {% endfor %}
    </body>
  </html>
</html>
