body {
  margin: 0;
  padding: 0;
}

.bg-nav {
  background: #2b898b;
}

nav {
  margin-bottom: 20px;
}

.text-white {
  color: white;
}

.nav-link {
  color: white !important;
}

.nav-link:hover {
  color: rgba(255, 255, 255, 0.904) !important;
}

button a {
  text-decoration: none;
  color: white;
}

button a:hover {
  color: rgba(255, 255, 255, 0.904);
}

.btn-success {
  background: #26704f !important;
}

.btn-warning {
  background: #2b898b !important;
}

.btn-danger {
  background: #ac1818 !important;
}

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #2b898b;
  color: aliceblue;
}

/* nav {
  min-height: 50px;
  background: orange;
  min-width: 100%;
}

nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  color: black;
  text-decoration: none;
}
 */
